.about__head-text
  color: rgb(80, 200, 125)
  font-size: 38px
  font-weight: bold
  display: flex
  justify-content: center
  margin-bottom: 20px
  margin-top: 30px

.container
  display: flex
  flex-direction: column
  justify-content: center

.about__text
  color: #888
  font-size: 20px
  margin-bottom: 25px

.about__sub-text
    font-weight: bold
    font-size: 25px
    display: flex
    justify-content: flex-start

.about__left-block
  display: inline-block
  width: 50%

.about__right-block
  width: 50%

.about__plus-button
  vertical-align: middle
  display: inline-block
  background-color: rgb(246, 247, 248)
  height: 30px
  width: 30px
  border-radius: 30px
