.about__head-text
  color: rgb(80, 200, 125)
  font-size: 38px
  font-weight: bold
  display: flex
  justify-content: center
  margin-bottom: 20px
  margin-top: 30px

.about__head-text-is-orange
    font-size: 38px
    font-weight: bold
    display: flex
    justify-content: center
    margin-bottom: 20px
    margin-top: 100px
    color: rgb(246, 157, 33)

.about__head-text-is-purple
      font-size: 38px
      font-weight: bold
      display: flex
      justify-content: center
      margin-bottom: 20px
      margin-top: 100px
      color: rgb(170, 74, 157)

.container
  display: flex
  flex-direction: column
  justify-content: center

.about__text
  color: #888
  font-size: 20px
  margin-bottom: 50px


.about__sub-text
    font-weight: bold
    font-size: 25px
    display: flex
    justify-content: flex-start
    margin-bottom: 25px

.about__left-block
  display: inline-block
  width: 50%

.about__right-block
  width: 50%

.about__plus-button
  vertical-align: middle
  display: inline-block
  background-color: rgb(246, 247, 248)
  height: 30px
  width: 30px
  border-radius: 30px
  margin-right: 12px

.about__wrap
  display: flex
  margin-top: 20px

.about__wrap-column
  margin-left: 25px
  margin-bottom: 15px

.about__wrap-dropdown
  margin-top: 10px

.about__section
  vertical-align: middle
  font-weight: bold
  font-size: 16px

.about__section-orange
  position: relative

.about__section-orange::before
  content: ""
  width: 6px
  height: 6px
  border-radius: 3px
  background-color: rgb(246, 157, 33)
  display: inline-block
  vertical-align: middle
  margin-right: 10px
  position: absolute
  top: 5px
  left: -15px

.about__section-purple
  position: relative

.about__section-purple::before
  content: ""
  width: 6px
  height: 6px
  border-radius: 3px
  background-color: rgb(170, 74, 157)
  display: inline-block
  vertical-align: middle
  margin-right: 10px
  position: absolute
  top: 5px
  left: -15px
