// BANNER :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


.banner.banner--inner
  .banner__gradient

  +carouselBg("flat", "carousel-flat-js", "flat")

  .container.container--slider

    //+sliderLocation("apartment", "slider-apartment-js", sliderLocationArr)

  //.container.container--swap

    //+swapInfoApartment()

  //include ../macros/_mouse


// BANNER :: END
