// BANNER :: START


//- VARIABLE
//- ==========
//- ==========
//- MIXIN
//- ==========
mixin carouselBg()
  div(class="banner__carousel banner__carousel--commercial")
    div(carousel-commercial-js)
      -for(var i = 0; i < 5; i++)
        div(
          class="banner__carousel-image"
          style="background-image: url('./img/img-bg__commercial.jpg')"
        )
//- ==========


.banner
  .banner__gradient


  +carouselBg()

  include ../macros/_mouse


// BANNER :: END
