// MASTERPLAN :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#masterplan.masterplan

  h3.main__title!= "Генплан"

  p.masterplan__subtitle!= "Нажмите на дом для выбора квартиры"

  .masterplan__map
    img(
      src="./img/img-bg__masterplan.jpg"
      srcset=""
    )



// MASTERPLAN :: END
