---
title: Contacts
bodyClass: contacts
---
extends shared/_layout
block content

  +backgroundInHeader('./img/img-bg__carParking.jpg', 'Контакты')
  // include ./components/_documentation
  div 
    | ГК "Строй-Альянс"
  p
    | Blabla
  
  include ./components/_buy
  include ./components/_question
  
