// ABOUT
// ===============
.about
  padding-top: 30px
  padding-bottom: 30px


  .main__title
    margin-bottom: 45px


  &__row
    display: flex


  &__left
    padding-top: 30px
    width: 400px
    text-align: center


  &__right
    width: calc(100% - 400px)

    p
      font-size: 16px
      line-height: 1.8