// BANNER
// ===============
.banner
  position: relative
  min-height: 900px


  &__gradient
    z-index: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 250px
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%)
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 )


  .container
    &--slider
      //z-index: 0
      //position: relative
      margin-top: (105px + 158px)
      //left: 0
      //right: 0

    &--swap
      //z-index: 0
      //position: relative
      margin-top: (13px * 8)
      //left: 0
      //right: 0


  &__carousel
    z-index: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

    .slick-slider,
    .slick-list,
    .slick-track
      height: 100%

    &-image
      background-repeat: no-repeat
      background-position: center
      background-size: cover


  &__slider
    color: $colorWhite

    &-badge
      display: none
      margin-bottom: 15px
      margin-left: auto
      margin-right: auto
      border-radius: 2em
      padding: 8px 12px
      background-color: $colorVioletBlue
      font-size: 10px
      font-weight: bold
      .slick-center &
        display: table

    &-name
      text-shadow: 0 9px 90px rgba(0, 0, 0, 0.9)
      .slick-center &
        font-size: 70px
        font-weight: 800

    &-info
      display: none
      margin-top: 10px
      text-shadow: 0 9px 90px rgba(0, 0, 0, 0.9)
      font-size: 20px
      .slick-center &
        display: block

    .slick
      &-btn
        cursor: pointer
        position: absolute
        top: 0
        height: 100%
        background-color: transparent
        border: none

        &.slick-prev
          left: -50px
        &.slick-next
          right: -50px

      &-slider
        display: flex
        align-items: center
        min-height: 250px

      &-track
        display: flex
        align-items: center

      &-slide
        text-align: center
        font-size: 18px
        font-weight: 500

      &-center
        width: 430px !important

  &__swap

    &-content
      color: $colorWhite
      text-align: center

    &-title
      margin-bottom: 30px
      text-shadow: 0 0 13px rgba(0, 0, 0, 0.9)
      font-size: 24px
      font-weight: bold

    &-wrap
      display: flex
      align-items: center
      justify-content: space-between
      max-width: 570px
      margin-left: auto
      margin-right: auto
      font-size: 20px
      font-weight: 500

      p
        text-shadow: 0 0 13px rgba(0, 0, 0, 0.9)

      span
        color: $colorGold
        font-weight: bold

    &-btn
      display: block
      width: 100%
      max-width: 220px
      height: 45px
      line-height: 45px
      margin-top: 45px
      margin-left: auto
      margin-right: auto
      border-radius: 2em
      background-color: $colorGold
      color: $colorBlack
      font-size: 15px
      font-weight: 500

    .slick
      &-dots
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 0
        bottom: -40px
        width: 100%
        margin-left: auto
        margin-right: auto

        li
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          width: 30px
          height: 10px
          margin:
            left: 7.5px
            right: 7.5px

          span
            display: block
            width: 100%
            height: 1px
            background-color: rgba($colorWhite, 0.5)
            border-top: 1px solid transparent
            +transition(background-color, border-top)

          &.slick-active
            span
              background-color: $colorWhite
              border-top: 1px solid $colorWhite
              +transition(background-color, border-top)
