// HEADER
// ===============
.header
  z-index: 1
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding-top: 15px


  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between


  &__container
    display: flex
    align-items: center


  &__row
    &-0
      width: 300px
      padding-right: 30px
    &-1
      width: 400px
      padding-right: 30px
    &-2
    &-3
      width: 170px
      text-align: right


  &__phone
    color: $colorWhite
    font:
      size: 20px
      weight: 500