// MAIN TITLE
// ===============
.main__title
  margin-bottom: 15px
  text-align: center
  font-weight: 800
  +rmin($mobile-s)
    font-size: 49px
  +rmin($mobile)
    font-size: 50px


// FORM COMPONENT
// ===============
.form
  &__input,
  &__message
    border-radius: 2em
    border: 1px solid rgba($colorVeryLightGrey, 0.5)
    background-color: $colorWhite
    color: $colorNero
    font-size: 14px
    font-family: 'TTNorms', Arial, sans-serif
  &__input
    width: 100%
    height: 45px
    padding-left: 20px
    padding-right: 20px
  &__message
    width: 100%
    height: 170px
    resize: none
    padding: 20px
  &__button
    cursor: pointer
    width: 100%
    max-width: 260px
    height: 45px
    line-height: 40px
    border: 2px solid $colorGold
    border-radius: 2em
    background-color: $colorGold
    font-size: 15px
    font-weight: 500




//
//  ANIMATED
//
//.animated
  //animation-duration: 1s
  //animation-fill-mode: both


//
//  INFINITY
//
//.animated.infinite
//  animation-iteration-count: infinite

//
//  BOUNCE
//
//@keyframes bounce
    //0%,100%,20%,50%,60%
    //    transform: translateY(0)
    //
    //40%,80%
    //    transform: translateY(0)

.bounce
    //animation-name: bounce
    //animation-direction: normal
    //animation-duration: 2s
    //animation-iteration-count: infinite
