// MENU
// ===============
.menu
  display: none
  position: relative
  top: -6px
  left: -2px
  +rmin($tablet)
    display: flex


  &__item
    margin-right: 30px
    white-space: nowrap
    +rmin($tablet)
      margin-right: 15px
    +rmin($desktop)
      margin-right: 30px


  &__link
    color: $colorWhite
    font-size: 12px
    font-weight: 500
    +rmin($tablet)
      font-size: 11px
    +rmin($desktop)
      font-size: 12px
