// SUBMENU
// ===============
.submenu
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  min-height: 105px

  svg
    z-index: 0
    position: absolute
    left: -9999px
    top: -9999px


  &__list
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 105px


  &__item
    &:first-child
      .submenu__btn
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        height: 45px
        line-height: 45px
        border: 2px solid $colorGold
        border-radius: 2em
        font-size: 15px
        +transition(background-color, color)

        &:hover
          background-color: $colorGold
          color: #000
          +transition(background-color, color)


  &__btn
    position: relative
    display: block
    color: $colorWhite
    font-size: 20px
    font-weight: 500

    &:before
      content: ""
      position: absolute
      bottom: -10px
      left: 0
      width: 100%
      height: 2px
      background-color: transparent
      +transition(background-color)

    &.is-active
      &:before
        content: ""
        position: absolute
        bottom: -10px
        left: 0
        width: 100%
        height: 2px
        background-color: $colorFern
        +transition(background-color)

