//- VARIABLE
//- ==========
-
  var headerMenuArr = [
    "Реализованные проекты",
    "Ипотека",
    "Контакты",
    "О компании"
  ];
  var headerHrefArr = [
    "finishedProject.html",
    "calcCredit.html",
    "contacts.html",
    "aboutCompany.html"
  ];
//- ==========


.menu--cover(js-teleport data-teleport-to="mobile-menu" data-teleport-condition="<768")
  ul.menu
    -for(var i = 0, len = headerMenuArr.length; i < len; i++)
      li.menu__item.wow.wowFadeDown
        a(href!= headerHrefArr[i] class="menu__link" title="")!= headerMenuArr[i]
