//- VARIABLE
//- ==========
-
  var submenuQuarterArr = [
    "ДРУГИЕ ОБЪЕКТЫ",
    "Генплан",
    "Описание объекта",
    "Что рядом",
    "Фото и видео",
    "Где купить"
  ];
  var submenuFlatArr = [
    "ДРУГИЕ ОБЪЕКТЫ",
    "Выбрать квартиру",
    "Описание объекта",
    "Что рядом",
    "Фото и видео",
    "Где купить"
  ];
  var submenuHrefQurterArr = [
    "#",
    "#masterplan",
    "#about",
    "#nearby",
    "#",
    "#buy"
  ];
  var submenuHrefFlarArr = [
    "#",
    "#choose",
    "#about",
    "#nearby",
    "#",
    "#buy"
  ];
//- ==========
//- MIXIN
//- ==========
mixin submenuLink(hrefArr, count, arr)
  a.submenu__btn(
    href!= hrefArr[count]
    class!= (count === 1) ? "":""
    title!=""
    data-js!= (count > 0) ? "submenu-js":""
  )!= arr[count]
//- ==========


.submenu
  svg(id="svg-filter")
    filter(id="svg-blur")
      feGaussianBlur(in="SourceGraphic" stdDeviation="24")

  .container
    ul.submenu__list
      -for(var i = 0, len = submenuFlatArr.length; i < len; i++)
        li.submenu__item
          if(bodyClass === 'flat')
            +submenuLink(submenuHrefFlarArr, i, submenuFlatArr)
          else if(bodyClass === 'quarter')
            +submenuLink(submenuHrefQurterArr, i, submenuQuarterArr)

